.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: transform 1s;
}

.love-text {
    text-align: center;
    font-size: 3rem;
    color: red;
    animation: heartbeat 1s infinite;
}

#question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.gif {
    margin-top: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    max-width: 300px;
    width: 100%;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}


.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-description {
    color: #777;
    font-size: 1rem;
}

/* Adjust the size of the GIFs as needed */
/* #angryGif iframe,
#kissGif iframe {
    width: 100%;
    height: 100%;
} */

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
